<div class="inventory-filters flexcol">
    <ul class="flexcol attributes">
        {{! Classes}}
        <li class ="attribute">
            <h4 class="category-label"> {{localize "fantasycraft.classes"}} </h4>
            <section class="feature-list flexcol">
                {{#each classes as |class id|}}
                <div class="item ownedItem flexrow" data-item-id="{{class.id}}" data-item-name="{{class.name}}">
                    <span style="flex: 0 0 15%;">{{class.name}}</span>
                    <span style="flex: 0 0 10%;">{{localize "fantasycraft.level"}}: {{class.system.levels}}</span>
                    <span style="flex: 0 0 60%;">{{!-- BAB: {{class.system.baseAttack}}, Fort: {{class.system.fortitude}}, Ref: {{class.system.reflex}}, Will: {{class.system.will}}, Def: {{class.system.defense}}, Init: {{class.system.initiative}}, Life: {{class.system.lifeStyle}}, Leg: {{class.system.legend}} --}}</span>
                    <a class="levelDown" >
                        <i class="fas fa-minus"></i>
                    </a>
                    <a class="levelUp" >
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="deleteItem push" >
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {{/each}}
            </section>
        </li>

        {{! Class Abilities}}
        <li class ="attribute">
            <h4 class="category-label"> {{localize "fantasycraft.classAbilities"}} </h4>
            <section class="feature-list two-column">
                {{#each classFeatures as |feature id|}}
                {{> "systems/fantasycraft/templates/partials/item-part.hbs" feature id=_id inSheet=true}}
                {{/each}}
            </section>
        </li>

        {{! Feats}}
        <li class ="attribute">
            <h4 class="category-label"> {{localize "fantasycraft.feats"}} </h4>
            <div class="flexrow">
                <label>{{ localize "fantasycraft.basic"}} </label> <span class="center-text feat-num"> {{basicFeats}}</span>
                <label>{{ localize "fantasycraft.melee"}} </label> <span class="center-text feat-num"> {{meleeFeats}}</span>
                <label>{{ localize "fantasycraft.ranged"}} </label> <span class="center-text feat-num"> {{rangedFeats}}</span>
                <label>{{ localize "fantasycraft.unarmed"}} </label> <span class="center-text feat-num"> {{unarmedFeats}}</span>
                <label>{{ localize "fantasycraft.chance"}} </label> <span class="center-text feat-num"> {{chanceFeats}}</span>
                <label>{{ localize "fantasycraft.covert"}} </label> <span class="center-text feat-num"> {{covertFeats}}</span>
            </div>
            <div class="flexrow">
                <label>{{ localize "fantasycraft.gear"}} </label> <span class="center-text feat-num">{{gearFeats}}</span>
                <label>{{ localize "fantasycraft.skill"}} </label> <span class="center-text feat-num">{{skillFeats}}</span>
                <label>{{ localize "fantasycraft.spellcasting"}} </label> <span class="center-text feat-num">{{spellcastingFeats}}</span>
                <label>{{ localize "fantasycraft.species"}} </label> <span class="center-text feat-num">{{speciesFeats}}</span>
                <label>{{ localize "fantasycraft.style"}} </label> <span class="center-text feat-num">{{styleFeats}}</span>
                <label>{{ localize "fantasycraft.terrain"}} </label> <span class="center-text feat-num">{{terrainFeats}}</span>
            </div>
            <div class="feature-list two-column">
                {{#each feats as |feat id|}}
                {{> "systems/fantasycraft/templates/partials/item-part.hbs" feat featType=(lookup ../config.featType feat.system.featType) id=_id inSheet=true}}
                {{/each}}
            </div>
        </li>

        {{! Origins: races, talents, and specialty along with their abilities}}
        <li class ="attribute">
            <h4 class="category-label"> {{localize "fantasycraft.origins"}} </h4>
            <section class="feature-list flexcol">
                <h4 class="flexrow">
                    <div>{{localize "fantasycraft.origin"}}</div>
                    <div>{{localize "fantasycraft.size"}}</div>
                    <div>{{localize "fantasycraft.type"}}</div>
                    <div>{{localize "fantasycraft.speed"}}</div>
                    <div class="flex5">{{localize "fantasycraft.abilityScoreModifiers"}}</div>
                </h4>
                {{#each ancestries as |ancestry id|}}
                <div class="item ownedItem flexrow" data-item-id="{{ancestry.id}}" data-item-name="{{ancestry.name}}">
                    <span>{{ancestry.name}}</span>
                    <span>{{#if ancestry.system.isTalent}} {{else}}{{ancestry.system.size}} {{/if}}</span>
                    <span>{{#if ancestry.system.isTalent}} {{else}}{{ancestry.system.type}} {{/if}}</span>
                    <div><span>{{#if ancestry.system.speed}} {{ancestry.system.speed}}{{localize "fantasycraft.ft"}} {{/if}}</span></div>
                    <div class="flex4">
                    {{#each ancestry.system.stats as |stat id|}}
                        {{#if stat.value}} 
                        <span>
                            {{#if stat.isChoice}}
                                <select class="selectStat" id="{{stat.label}}">
                                    {{selectOptions stat.choices.value selected=stat.ability localize=true}}
                                </select>
                                : {{stat.value}} 
                            {{else}}
                                {{localize (lookup ../../config.abilityShort stat.ability)}}: {{stat.value}}{{#unless @last}}, {{/unless}} 
                            {{/if}}
                        </span>
                        {{/if}}
                    {{/each}}         
                    </div>
                    <a class="deleteItem push flex05">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {{/each}}
                <div class="item ownedItem flexcol item-card childFeatures">
                {{#each ancestryFeatures as |feature id|}}
                    <div class="flexrow item" data-item-id="{{feature._id}}" data-item-name="{{feature.name}}">
                        <span class="flex2 childFeature">{{feature.name}}</span>
                        <span class="flex6 discription">{{{feature.system.description.value}}}</span>
                        <div class="flex05">
                            <a class="editItem">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="deleteItem">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
                </div>

                {{#each specialty as |spec id|}}
                <div class="item ownedItem flexcol item-card" data-item-id="{{spec._id}}" data-item-name="{{spec.name}}">
                    <div class="flexrow">
                        <span class="flex2 childFeature">{{spec.name}}</span>
                        <span class="flex6 discription">{{localize "fantasycraft.feat"}}: {{spec.system.feat}}</span>
                        <a class="deleteItem flex05">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
                {{/each}}

                <div class="item ownedItem flexcol item-card childFeatures">
                {{#each specialties as |specialty id|}}
                    <div class="flexrow item" data-item-id="{{specialty._id}}" data-item-name="{{specialty.name}}">
                        <span class="flex2 childFeature">{{specialty.name}}</span>
                        <span class="flex6 discription">{{{specialty.system.description.value}}}</span>
                        
                        <div class="flex05">
                            <a class="editItem">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="deleteItem flex05">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
                </div>
            </section>
        </li>
    </ul>
</div>
