<div>
    <div class="flexcol">
        
        <div class="flexrow">
            <h4 class="category-label"> {{localize "fantasycraft.castingInformation"}}</h4>
        </div>
        <section class="flexrow remove-space right-border">
        {{!-- Spell save DC and Casting Level --}}
            <div class="flexcol flex4 category-body"> 
                <div class="flexrow center-text">
                    <div class="centreItems">
                        <input type="number" class="largeBox calcBox" name="system.spellSave" value="{{actor.system.spellSave}}"disabled=true />
                        <footer>{{localize "fantasycraft.traitSave"}} {{localize "fantasycraft.dc"}}</footer>
                    </div> 
                    <div>
                        <input type="number" class="largeBox calcBox" name="system.castingLevel" value="{{numberFormat actor.system.castingLevel}}" disabled=true />
                        <footer> {{localize "fantasycraft.castingLevel"}}</footer>
                    </div>
                </div>
                {{!-- if 'Corrupting Magic' is in use --}}
                {{!-- Tainted grades --}}
                {{#if corrupting}}
                <div>
                    <footer class="footer-text">
                        <span>{{localize "fantasycraft.tainted"}}: </span>
                        <input class="checkbox fatigueShaken" type="checkbox" name="system.tainted.tainted1" {{checked actor.system.tainted.tainted1}} />
                        <input class="checkbox fatigueShaken" type="checkbox" name="system.tainted.tainted2" {{checked actor.system.tainted.tainted2}} />
                        <input class="checkbox fatigueShaken" type="checkbox" name="system.tainted.tainted3" {{checked actor.system.tainted.tainted3}} />
                        <input class="checkbox fatigueShaken" type="checkbox" name="system.tainted.tainted4" {{checked actor.system.tainted.tainted4}} />
                    </footer>
                </div>
                {{/if}}
            </div>
            <div class="flexcol flex5 category-body">
            {{!-- Casting Tricks --}}
                <div>
                    {{#each spellTricks as |trick id|}}
                    <div class="item ownnedItem flexrow" data-item-id="{{_id}}" data-item-name="{{trick.name}}">
                        <label class="flex4">{{trick.name}}</label>
                        <span>
                            {{#if (eq trick.system.uses.timeFrame "unlimited")}}
                                -
                            {{else}}
                                {{trick.system.uses.usesRemaining}}/{{trick.system.uses.maxUses}}
                            {{/if}}
                        </span>
                        <div>
                            <a class="editItem">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="deleteItem">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="flex4 category-body">
                {{#if actor.system.isDivine}}
                <h4 class="remove-space center-text">{{localize "fantasycraft.pathBonuses"}}</h4>
                <div class="flexrow">
                    {{#each paths as |path id|}}
                        {{#if path.system.pathStep}}
                        <div class="item flexhalf button" data-item-id="{{path.id}}" data-item-name="{{path.name}}">
                            <a class="path-bonus">{{path.system.shorthand}}</a>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
                {{/if}}
                {{#if actor.system.isArcane}}
                <div class="flexrow">
                    <h4 class="skill-name" data-skill="spellcasting">
                        <div class="button">
                        <a class="roll-skill">{{localize "fantasycraft.spellcasting"}}</a>
                        </div>
                    </h4>
                    <div class="center-text">
                        <span>{{actor.system.arcane.spellcasting.value}}</span>
                        <footer> {{localize "fantasycraft.bonus"}} </footer>
                    </div>
                 </div>
                <div class="center-text flexrow">
                    <h4 class="flex3">{{localize "fantasycraft.spellPoints"}}</h4>
                    <div class="flexrow flex2">
                        <div>
                            <input type="number" name="system.arcane.spellPoints" value="{{actor.system.arcane.spellPoints}}" style="height: 18px"/>
                            <footer class="capitalize" style="font-size:10px;"> {{localize "current"}}</footer>
                        </div>
                        <span>/</span>
                        <div>
                            <span>{{actor.system.arcane.spellPointMax}} </span>
                            <footer style="font-size:10px;"> {{localize "fantasycraft.max"}}</footer>
                        </div>
                    </div>
                </div>
                
                {{/if}}
            </div>
        </section>
    </div>
    <button class="collapse-topbar collapse-button {{#unless topbar}} collapsed {{/unless}}">
        {{#if topbar}} <i class="fa-light fa-caret-up"></i> {{else}} <i class="fa-light fa-caret-down"></i> {{/if}}
    </button>
    {{!-- Minimizable Top Bar --}}
    <div class="top-bar flexrow" style="{{#if topbar}} {{else}} display: none;{{/if}}">
        {{!-- Casting Options (Feats, Class Features) --}}
        <div>
            <h4 class="category-label"> {{localize "fantasycraft.castingOptions"}}</h4>
            {{! List of spellcasting feats, abilities, and tricks}}
            <div class="category-body">
                {{#each feats as |feat id|}}
                    {{#if (eq feat.system.featType "spellcasting")}}
                    <div class="flexrow item" data-item-id="{{feat.id}}" data-item-name="{{feat.name}}">
                        <span class="flex6">{{feat.name}}</span>
                        <div>
                            <a class="editItem">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="deleteItem">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        {{! Divine Casting}}
        <div>
            <h4 class="category-label flexrow">
                <span>{{localize "fantasycraft.divine"}}</span>
                <input class="push" type="checkbox" name="system.isDivine" data-dtype="Boolean" {{checked actor.system.isDivine}}>
            </h4>
            
            <div class={{#if actor.system.isDivine}} "category-body compact-input center-text" {{else}}"collapsed-category" {{/if}}>
                {{! Alignment and Paths Options}}
                <h4 class="skill-name">{{localize "fantasycraft.alignment"}}</h4>
                    <ul class="traits-list remove-space">
                    {{#each actor.system.interests.alignment.array as |item id|}}
                        <li class="tag {{id}} bordered-text">{{item}}</li>
                    {{/each}}
                    </ul>
                <h4 class="skill-name">{{localize "fantasycraft.paths"}}</h4>
                {{! paths and their steps}}
                <div>
                    {{#each paths as |path id|}}
                    <div class="item flexrow" data-item-id="{{path.id}}" data-item-name="{{path.name}}">
                        <span class="flex6">{{path.name}}</span>
                        <select class="flex1 pathChange" data-item-id="{{path.id}}">
                            {{selectOptions ../config.zeroToFive selected=path.system.pathStep localize=true}}
                        </select>
                        <a class="editItem">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="deleteItem">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{! Arcane Casting}}
        <div>
            <h4 class="category-label flexrow">
                <span>{{localize "fantasycraft.arcane"}}</span>
                <input class="push" type="checkbox" name="system.isArcane" data-dtype="Boolean" {{checked actor.system.isArcane}}>
            </h4>
            <section class={{#if actor.system.isArcane}} "category-body compact-input center-text" {{else}}"collapsed-category" {{/if}}>
                {{! Spellcasting skill}}
                <h4 class="skill-name"><a class="roll-skill">{{localize "fantasycraft.spellcasting"}}</a></h4>
                <div class="flexrow center-text remove-space" data-skill="spellcasting">
                    <div>
                        <input class="skill-input" name="system.arcane.spellcasting.value" type="number" value="{{actor.system.arcane.spellcasting.value}}" placeholder="0" disabled=true />
                        <footer> {{localize "fantasycraft.total"}} </footer>
                    </div>
                    <div>
                        <input class="skill-input" name="system.abilityScores.intelligence.mod" type="number" value="{{actor.system.abilityScores.intelligence.mod}}" placeholder="0" disabled=true/>
                        <footer> {{localize "fantasycraft.ability"}} </footer>
                    </div>
                    <div>
                        <input type="number" class="smallBox" name="system.arcane.spellcasting.ranks" value="{{actor.system.arcane.spellcasting.ranks}}" />
                        <footer> {{localize "fantasycraft.ranks"}} </footer>
                    </div>
                    <div>
                        <input class="skill-input" name="system.arcane.spellcasting.misc" type="number" value="{{actor.system.arcane.spellcasting.misc}}" placeholder="0"/>
                        <footer> {{localize "fantasycraft.misc"}} </footer>
                    </div>
                </div>

                {{! Spells Known}}
                <h4 class="skill-name">{{localize "fantasycraft.spellsKnown"}}</h4>
                <div class="flexrow center-text remove-space">
                    <div>
                        <input class="skill-input" name="system.arcane.spellsKnown.value" type="number" value="{{actor.system.arcane.spellsKnown.value}}" placeholder="0" disabled=true/>
                        <footer> {{localize "fantasycraft.total"}} </footer>
                    </div>
                    <div>
                        <input class="skill-input" name="wisdomScore" type="number" value="{{actor.system.abilityScores.wisdom.value}}" placeholder="0" disabled=true/>
                        <footer> {{localize "fantasycraft.ability"}} </footer>
                    </div>
                    <div>
                        <input type="number" class="smallBox" name="castingRanks" value="{{actor.system.arcane.spellcasting.ranks}}" disabled=true/>
                        <footer> {{localize "fantasycraft.ranks"}} </footer>
                    </div>
                    <div> 
                        <input class="skill-input" name="system.arcane.spellsKnown.misc" type="number" value="{{actor.system.arcane.spellsKnown.misc}}" placeholder="0"/>
                        <footer> {{localize "fantasycraft.misc"}} </footer>
                    </div>
                </div>
                <div class="flexrow center-text remove-space">
                    <h4 class="skill-name">{{localize "fantasycraft.spellPoints"}}</h4>
                    <div class="flex3"><span>{{actor.system.arcane.spellPoints}}</span></div>
                    <div class="flex1"><span>/</span></div>
                    <div class="flex1"><span class="skill-name">{{localize "fantasycraft.max"}}</span></div>
                    <div class="flex3"><input class="wideBox" type="number" name="system.arcane.spellPointMax" value="{{actor.system.arcane.spellPointMax}}" placeholder="0" disabled=true /></div>
                </div>
            </section>
        </div>
    </div>
    </div>
    <div>
    {{!-- SPELL LIST --}}
        <div class="flexcol">
            <div>
                <h4 class="category-label flexrow">
                    <span>{{localize "fantasycraft.spells"}}</span>
                </h4>
                <div class="flexrow">
                    <div><b>{{localize "fantasycraft.spellSchool"}} - </b></div>
                    <ul class="filter-list flexrow flex5" data-filter="spellList">
                        <li class="filter-item" data-filter="all"> {{localize "fantasycraft.all"}}</li>
                        <li class="filter-item" data-filter="Channeler"> {{localize "fantasycraft.channeler"}}</li>
                        <li class="filter-item" data-filter="Conjurer"> {{localize "fantasycraft.conjurer"}}</li>
                        <li class="filter-item" data-filter="Enchanter"> {{localize "fantasycraft.enchanter"}}</li>
                        <li class="filter-item" data-filter="Preserver"> {{localize "fantasycraft.preserver"}}</li>
                        <li class="filter-item" data-filter="Prophet"> {{localize "fantasycraft.prophet"}}</li>
                        <li class="filter-item" data-filter="Reaper"> {{localize "fantasycraft.reaper"}}</li>
                        <li class="filter-item" data-filter="Seer"> {{localize "fantasycraft.seer"}}</li>
                        <li class="filter-item" data-filter="Trickster"> {{localize "fantasycraft.trickster"}}</li>
                    </ul>
                    <div class="center-text"><b>{{localize "fantasycraft.level"}} - </b></div>
                    <ul class="filter-list flexrow flex2" data-filter="spellLevels">
                        <li class="filter-level" data-filter="all"> {{localize "fantasycraft.all"}}</li>
                        <li class="filter-level" data-filter="level0"> 0</li>
                        <li class="filter-level" data-filter="level1"> 1</li>
                        <li class="filter-level" data-filter="level2"> 2</li>
                        <li class="filter-level" data-filter="level3"> 3</li>
                        <li class="filter-level" data-filter="level4"> 4</li>
                        <li class="filter-level" data-filter="level5"> 5</li>
                        <li class="filter-level" data-filter="level6"> 6</li>
                        <li class="filter-level" data-filter="level7"> 7</li>
                        <li class="filter-level" data-filter="level8"> 8</li>
                        <li class="filter-level" data-filter="level9"> 9</li>
                    </ul>
                </div>
                <ul class="center-text item-list remove-space">
                    <li class="flexrow">
                        <div class="flex1"> <a class="sortTable" value="0">{{localize "fantasycraft.pin"}}</a></div>
                        <div class="flex3"> <a class="sortTable" value="1">{{localize "fantasycraft.spellName"}}</a></div>
                        <div class="flex1"> <a class="sortTable" value="2">{{localize "fantasycraft.level"}}</a></div>
                        <div class="flex2"> <a class="sortTable" value="3">{{localize "fantasycraft.castingTime"}}</a></div>
                        <div class="flex2"> <a class="sortTable" value="7">{{localize "fantasycraft.savingThrow"}}</a></div>
                        <div class="flex1"> {{localize "fantasycraft.edit"}}</div>
                    </li>
                    {{#each spells as |spell id|}}
                        {{> "systems/fantasycraft/templates/partials/spell-part.hbs" spell id=spell._id sidebar=true}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{!collapse button}}
</div>