<li class="item ownedItem flexrow" data-item-id="{{id}}" data-item-name="{{name}}">
    <div class="center-dice flex1">
        <a class="roll-natural-attack dice-button" data-roll-info='{{id}}'>
            <i class="fas fa-dice-d20 fa-xl"></i>
        </a>
    </div>
    <div class="flex3 flexcol">
        <span>
            <b>{{name}}</b>
        </span>
        <span>
            <div class="damage-threat"><span>{{system.damage.value}} {{localize system.damageType}}</span><span>-</span><span> {{localize "fantasycraft.threat"}} {{system.threat}}</span></div>
        </span>
    </div>
    <div class="flex5">
        {{#each system.naturalUpgrades as |prop id|}}
            {{#if prop}}
                {{#compare prop "" operator="!="}}
                {{#compare prop "0" operator="!="}}
                {{localize (lookup ../qualities id)}}{{#if (isBool prop)}}{{else}} {{prop}}{{/if}}
                {{/compare}}
                {{/compare}}
            {{/if}}
        {{/each}}
    </div>
    <div class="flex1">
        <a class="editItem">
            <i class="fas fa-edit"></i>
        </a>
        <a class="deleteItem">
            <i class="fas fa-trash"></i>
        </a>
    </div>
</li>
