        <div class="flexcol" name="classSelection">
            <div>
                <div>
                    <select class="classSelect">
                        {{#each lists.classes as |v k|}}
                            <option value="{{v._id}}">{{v.name}}</option>
                        {{/each}}
                    </select>
                    <span>
                        Next Level: 
                    </span>
                    <span name="level">
                        {{level}}
                    </span>
                </div>
                <table name="classInformation">
                    <tr>
                        <th>
                            BAB
                        </th>
                        <th>
                            Fort
                        </th>
                        <th>
                            Reflex
                        </th>
                        <th>
                            Will
                        </th>
                        <th>
                            Def
                        </th>
                        <th>
                            Init
                        </th>
                        <th>
                            Lifestyle
                        </th>
                        <th>
                            Legend
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input name="bab" type="text" value="{{classInfo.bab}}" disabled="true">
                        </td>
                        <td>
                            <input name="fort" type="text" value="{{classInfo.fort}}" disabled="true">
                        </td>
                        <td>
                            <input name="ref" type="text" value="{{classInfo.ref}}" disabled="true">
                        </td>
                        <td>
                            <input name="will" type="text" value="{{classInfo.will}}" disabled="true">
                        </td>
                        <td>
                            <input name="def" type="text" value="{{classInfo.def}}" disabled="true">
                        </td>
                        <td>
                            <input name="init" type="text" value="{{classInfo.init}}" disabled="true">
                        </td>
                        <td>
                            <input name="life" type="text" value="{{classInfo.life}}" disabled="true">
                        </td>
                        <td>
                            <input name="leg" type="text" value="{{classInfo.leg}}" disabled="true">
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <img class="profile" name="classpic" src="{{actor.img}}" data-edit="img"/>
            </div>
        </div>