        <span class="{{#if item}}feature-container {{/if}} drop-zone center-flexrow extra-space" data-type="{{type}}" data-source="{{source}}" data-sub-option-1="{{suboption}}" data-sub-option-2="{{suboption2}}"> 
            {{#if item}}{{item.name}}{{else}}Drop {{type}} Here.{{/if}}
        </span>
