<div>
    <h3 class="form-header">{{ localize "fantasycraft.spellCustomization" }}</h3>    
    {{! School}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellSchool"}}: </label>
        <select name="system.school">
            {{selectOptions config.spellSchool selected=item.system.school localize=true}}
        </select>
    </div>
    {{! Discipline}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellDiscipline"}}: </label>
        <select name="system.discipline">
            {{selectOptions spellDisciplines selected=item.system.discipline localize=true}}
        </select>
    </div>
    {{! Additional Terms}}
    <div class="form-group">
        <label>{{localize "fantasycraft.additionalTerms"}}</label>
        <a class="trait-selector" data-options="spellTerms" data-target="system.secondaryTerms">
            <i class="fas fa-edit"></i>
        </a>
        <ul class="traits-list flexrow">
        {{#each item.system.secondaryTerms.value as |v k|}}
            <li class="tag {{k}} bordered-text">{{v}}</li>
        {{/each}}
        </ul>
    </div>
    {{! Level}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellLevel" }}: </label>
        <select name="system.level">
            {{selectOptions config.spellLevel selected=item.system.level localize=true}}
        </select>
    </div>
    <h3 class="form-header">{{ localize "fantasycraft.spellCustomization" }}</h3>
    {{! Casting Time}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.castingTime"}}: </label>
        <input type="number" class="smallBox" name="system.castingTime.value" value="{{item.system.castingTime.value}}">
        <select name="system.castingTime.increment">
            {{selectOptions config.timeIncrements selected=item.system.castingTime.increment localize=true}}
        </select>
    </div>
    {{! Distance}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.distance"}}: </label>
        <label>{{ localize "fantasycraft.rangedAttack"}} <input type="checkbox" name="system.distance.rangedAttack" {{checked item.system.distance.rangedAttack}}></label>
        <select name="system.distance.value">
            {{selectOptions config.distance selected=item.system.distance.value localize=true}}
        </select>
    </div>
    {{! Area}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.area"}}: </label>
        <input type="text" class="smallBox" name="system.area.value" value="{{item.system.area.value}}">
        {{ localize "fantasycraft.penetrating"}}: <input class="checkbox" type="checkbox" name="system.area.penetrating" {{checked item.system.area.penetrating}}/>
        {{ localize "fantasycraft.perCastingLevel"}}: <input class="checkbox" type="checkbox" name="system.area.perLevel" {{checked item.system.area.perLevel}}/>
        <select name="system.area.shape">
            {{selectOptions config.spellArea selected=item.system.area.shape localize=true}}
        </select>
    </div>
    {{! Duration}}
    {{! instant/permanent then timed durations with the potential keywords of (concentration upto duration) (concentration plus duration) (dismisable) (enduring)}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellDuration"}}: </label>
        {{#if item.system.duration.isNotInstantOrPermanent}}
        <input type="text" class="smallBox" name="system.duration.number" value="{{item.system.duration.number}}">
        <select name="system.duration.increment">
            {{selectOptions config.durationTimeIncrements selected=item.system.duration.increment localize=true}}
        </select>
        {{/if}}
        {{! }}
        <select name="system.duration.value">
            {{selectOptions config.spellDuration selected=item.system.duration.value localize=true}}
        </select>
    </div>
    {{! duration keywords}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellDurationKeywords"}}: </label>
        {{localize "fantasycraft.dismissable"}}: <input class="checkbox" type="checkbox" name="system.duration.dismissable" {{checked item.system.duration.dismissable}}/>
        {{localize "fantasycraft.enduring"}}: <input class="checkbox" type="checkbox" name="system.duration.enduring" {{checked item.system.duration.enduring}}/>
        {{localize "fantasycraft.perCastingLevel"}}: <input class="checkbox" type="checkbox" name="system.duration.perCastingLevel" {{checked item.system.duration.perCastingLevel}}/>
    </div>
    {{! Saving Throw}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.savingThrow"}}: </label>
        <select name="system.save.saveType">
            {{selectOptions config.savingThrow selected=item.system.save.saveType localize=true}}
        </select>
        <select name="system.save.saveEffect">
            {{selectOptions config.savingThrowEffects selected=item.system.save.saveEffect localize=true}}
        </select>
        <a class="trait-selector" data-options="savingThrowTerms" data-target="system.save.saveKeywords">
            <i class="fas fa-edit"></i>
        </a>
    </div>

    {{! second saving throw -- this is mostly for Phantasmal killer, lets be honest}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.savingThrow"}}: </label>
        <select name="system.save2.saveType">
            {{selectOptions config.savingThrow selected=item.system.save2.saveType localize=true}}
        </select>
        <select name="system.save2.saveEffect">
            {{selectOptions config.savingThrowEffects selected=item.system.save2.saveEffect localize=true}}
        </select>
        <a class="trait-selector" data-options="savingThrowTerms" data-target="system.save2.saveKeywords">
            <i class="fas fa-edit"></i>
        </a>
    </div>

    {{! Preparation Cost}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.preparationCost"}}: </label>
        <input type="text" name="system.preparationCost" value="{{item.system.preparationCost}}">
    </div>

    {{#if item.system.damage.dealsDamage}}
    <h3 class="form-header">{{ localize "fantasycraft.damage" }}</h3>    
    {{/if}}

    <div class="form-group">
        <label>{{localize "fantasycraft.damage"}}</label>
        <input type="checkbox" name="system.damage.dealsDamage" {{checked item.system.damage.dealsDamage}}>
    </div>
    {{#if item.system.damage.dealsDamage}}
    <div class="form-group">
        <label>{{localize "fantasycraft.flatOrRandom"}}</label>
        <select name="system.damage.flatOrRandom">
            {{#select item.system.damage.flatOrRandom}}
                <option value="flat">{{localize "fantasycraft.flatDamage"}}</option>
                <option value="random">{{localize "fantasycraft.randomDamage"}}</option>
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        {{#compare item.system.damage.flatOrRandom "flat" operator="=="}}
        <label>{{localize "fantasycraft.damage"}}</label>
            <input class="mediumField" type="number" name="system.damage.flatDamage" value="{{item.system.damage.flatDamage}}">
        {{/compare}}
        {{#compare item.system.damage.flatOrRandom "random" operator="=="}}
    </div>
    <div class="form-group">
            <label>{{localize "fantasycraft.diceValues"}}</label>
            <input class="mediumField" type="number" name="system.damage.diceNum" value="{{item.system.damage.diceNum}}">
            <select name="system.damage.diceSize">
                {{selectOptions config.dice selected=item.system.damage.diceSize localize=true}}
            </select>
        {{/compare}}
        </div>
        <div class="form-group">

            <label>{{localize "fantasycraft.damageType"}}</label>

            <select name="system.damage.damageType">
                {{selectOptions config.damageTypes selected=item.system.damage.damageType localize=true}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "fantasycraft.damageScaling"}}</label>
            <select name="system.damage.scaling">
                {{#select item.system.damage.scaling}}
                    <option value="none">{{localize "fantasycraft.noEntry"}}</option>
                    <option value="1">{{localize "fantasycraft.perCastingLevel"}}</option>
                    <option value="2">{{localize "fantasycraft.per2CastingLevels"}}</option>
                    <option value="3">{{localize "fantasycraft.per3CastingLevels"}}</option>
                    <option value="4">{{localize "fantasycraft.per4CastingLevels"}}</option>
                    <option value="5">{{localize "fantasycraft.per5CastingLevels"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "fantasycraft.damageBonus"}}</label>
            <input class="mediumField" type="number" name="system.damage.bonusDamage" value="{{item.system.damage.bonusDamage}}">
        </div>
        <div class="form-group">
            <label>{{localize "fantasycraft.maximum"}}</label> <input class="mediumField" type="number" name="system.damage.maxDamage" value="{{item.system.damage.maxDamage}}"/> 
        </div>
        <div class="form-group">
            <label>{{localize "fantasycraft.ap"}}</label>
            <input class="mediumField" type="number" name="system.damage.ap" value="{{item.system.damage.ap}}">
        </div>
        <div class="form-group">
            <label>{{localize "fantasycraft.alternateDamage"}}</label>
            <div>
                <select name="system.damage.secondaryDamage">
                    <option value="none">{{localize "fantasycraft.noEntry"}}</option>
                    {{selectOptions config.dice selected=item.system.damage.secondaryDamage localize=true}}
                </select>
                <select name="system.damage.secondaryDamageType">
                    {{selectOptions config.damageTypes selected=item.system.damage.secondaryDamageType localize=true}}
                </select>
            </div>
        </div>
    {{/if}}
    {{! Effect}}
    <div class="form-group">
        <label>{{ localize "fantasycraft.spellEffect"}}: </label>
    </div>
        {{editor item.system.description.value target="system.description.value" button=true owner=owner editable=editable}}
</div>
