<form class="{{cssClass}} item-form flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="itemHeader">
        <h1 class="itemName flexrow">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'fantasycraft.ItemName' }}"/>
        </h1>
        <section>
            <input class="header-input-field" type="text" name="system.source" value="{{item.system.source}}" placeholder="{{ localize 'fantasycraft.source' }}"/>
            <footer class="footer-text">{{ localize 'fantasycraft.source' }}</footer>
        </section>
    </header>
    <nav class="sheet-navigation sheet-tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "fantasycraft.description" }}</a>
        <a class="item" data-tab="details">{{ localize "fantasycraft.details" }}</a>        
    </nav>
    <body>
        <section class="sheet-body">
        {{!-- Description Tab --}}
            <div class="tab attributes" data-group="primary" data-tab="description">
                <div>
                {{{item.system.description.value}}}
                </div>
                <div>
                {{{item.system.description.chat}}}
                </div>
            </div>
            <div class="tab attributes flexcol" data-group="primary" data-tab="details">
                {{!Size, width by height}}
                <div class="form-group item-customization-section">
                    <div>
                    <label>{{localize "fantasycraft.size"}}</label> 
                        <select name="system.size">
                            {{selectOptions config.size selected=item.system.size localize=true}}
                        </select>
                        <div>
                            <input class="narrowField" type="number" name="system.footprint.width" value="{{item.system.footprint.width}}">
                            x
                            <input class="narrowField" type="number" name="system.footprint.height" value="{{item.system.footprint.height}}">
                        </div>
                    </div>
                </div>
                {{!Reach}}
                <div class="form-group item-customization-section">
                    <div>
                    <label>{{localize "fantasycraft.reach"}}</label> 
                    
                    <input class="narrowField" type="number" name="system.reach" value="{{item.system.reach}}">
                    </div>
                </div>
                {{!biped/quadraped}}
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.locomotion"}}</label>
                        <select name="system.locomotion">
                            {{selectOptions config.locomotionType selected=item.system.locomotion localize=true}}
                        </select>
                    </div>
                </div>
                {{!creature type}}
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.type"}}</label> 
                        <select name="system.type">
                            {{selectOptions config.creatureType selected=item.system.type localize=true}}
                        </select>
                    </div>
                </div>
                {{!Attribute changes}}
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat1.isChoice" {{checked item.system.stats.stat1.isChoice}}/> 
                        {{#if item.system.stats.stat1.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat1.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                        <select name="system.stats.stat1.ability">
                            <option value=""></option>
                            {{selectOptions config.abilityScores selected=item.system.stats.stat1.ability localize=true}}
                        </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat1.value" value="{{item.system.stats.stat1.value}}"/>
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    {{!Attribute 2}}
                    <div>
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat2.isChoice" {{checked item.system.stats.stat2.isChoice}}/> 
                        {{#if item.system.stats.stat2.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat2.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                            <select name="system.stats.stat2.ability">
                                <option value=""></option>
                                {{selectOptions config.abilityScores selected=item.system.stats.stat2.ability localize=true}}
                            </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat2.value" value="{{item.system.stats.stat2.value}}"/>
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    <div>
                    {{!Attribute 3}}
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat3.isChoice" {{checked item.system.stats.stat3.isChoice}}/> 
                        {{#if item.system.stats.stat3.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat3.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                            <select name="system.stats.stat3.ability">
                                <option value=""></option>
                                {{selectOptions config.abilityScores selected=item.system.stats.stat3.ability localize=true}}
                            </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat3.value" value="{{item.system.stats.stat3.value}}"/>
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    {{!Attribute 4}}
                    <div>
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat4.isChoice" {{checked item.system.stats.stat4.isChoice}}/> 
                        {{#if item.system.stats.stat4.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat4.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                            <select name="system.stats.stat4.ability">
                                <option value=""></option>
                                {{selectOptions config.abilityScores selected=item.system.stats.stat4.ability localize=true}}
                            </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat4.value" value="{{item.system.stats.stat4.value}}"/>
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    {{!Attribute 5}}
                    <div>
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat5.isChoice" {{checked item.system.stats.stat5.isChoice}}/> 
                        {{#if item.system.stats.stat5.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat5.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                            <select name="system.stats.stat5.ability">
                                <option value=""></option>
                                {{selectOptions config.abilityScores selected=item.system.stats.stat5.ability localize=true}}
                            </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat5.value" value="{{item.system.stats.stat5.value}}"/>
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    {{!Attribute 6}}
                    <div>
                        <label>{{localize "fantasycraft.attributes"}}</label> 
                        {{ localize "fantasycraft.isChoice" }} <input type="checkbox" name="system.stats.stat6.isChoice" {{checked item.system.stats.stat6.isChoice}}/> 
                        {{#if item.system.stats.stat6.isChoice}}
                            <span>{{localize "fantasycraft.choices"}}</span>

                            <a class="trait-selector" data-options="abilityScores" data-target="system.stats.stat6.choices">
                                <i class="fas fa-edit"></i>
                            </a>
                        {{else}}
                            <select name="system.stats.stat6.ability">
                                <option value=""></option>
                                {{selectOptions config.abilityScores selected=item.system.stats.stat6.ability localize=true}}
                            </select>
                        {{/if}}
                        <input class="narrowField" type="number" name="system.stats.stat6.value" value="{{item.system.stats.stat6.value}}"/>
                    </div>
                </div>
                {{!speed}}
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.speed"}}</label> 
                        <span>{{localize "fantasycraft.ground"}}</span>
                        <input class="mediumField" type="number" name="system.speed" value="{{item.system.speed}}">
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.speed"}}</label> 
                        <select name="system.speed2.type">
                            <option value=""></option>
                            {{selectOptions config.moveType selected=item.system.speed2.type localize=true}}
                        </select>
                        <input class="mediumField" type="number" name="system.speed2.value" value="{{item.system.speed2.value}}">
                    </div>
                </div>
                <div class="form-group item-customization-section">
                    <div>
                        <label>{{localize "fantasycraft.isTalent"}}</label> 
                        <input type="checkbox" name="system.isTalent" {{checked item.system.isTalent}}/> 
                    </div>
                </div>
                <div>
                    <label>{{localize "fantasycraft.description"}}</label>
                    {{editor item.system.description.value target="system.description.value" button=true owner=owner editable=editable}}
                </div>
                <div>
                    <label>{{localize "fantasycraft.details"}}</label> 
                    {{editor item.system.decription.chat target="system.description.chat" button=true owner=owner editable=editable}}
                </div>
            </div>
    </body>
</form>