<form class="{{cssClass}} item-form flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="path-header">
        <h1 class="itemName flexrow">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'fantasycraft.ItemName' }}"/>
        </h1>
    </header>
    <nav class="sheet-navigation sheet-tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "fantasycraft.description" }}</a>
        <a class="item" data-tab="feature-customization">{{ localize "fantasycraft.customization" }}</a>
    </nav>
    {{!-- Item Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="description">
            <span>{{{item.system.description.value}}}</span>
            <div>
                <label><b>{{localize "fantasycraft.step1"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step1}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step2"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step2}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step3"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step3}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step4"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step4}}</span>
            </div>
            <div>
                <label><b>{{localize "fantasycraft.step5"}}</b></label>
                <span>{{> "systems/fantasycraft/templates/items/parts/path-step-part.hbs" step=item.system.step5}}</span>
            </div>
        </div>

        {{!-- Customization Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="feature-customization">
            {{!Feat, Spells, resistances, skill bonus, damage bonus, damage immunity, speed, save bonus, Other}} {{! Circumstantial, flat, scaling by path step}}
            {{!-- Step 1 --}}
            <div class="item-customization-section">
                <label><b>{{localize "fantasycraft.step1"}}</b></label>
                {{> "systems/fantasycraft/templates/items/parts/path-step-customization-part.hbs" stepName="step1" config=config step=item.system.step1}}

                <label><b>{{localize "fantasycraft.step2"}}</b></label>
                {{> "systems/fantasycraft/templates/items/parts/path-step-customization-part.hbs" stepName="step2" config=config step=item.system.step2}}

                <label><b>{{localize "fantasycraft.step3"}}</b></label>
                {{> "systems/fantasycraft/templates/items/parts/path-step-customization-part.hbs" stepName="step3" config=config step=item.system.step3}}

                <label><b>{{localize "fantasycraft.step4"}}</b></label>
                {{> "systems/fantasycraft/templates/items/parts/path-step-customization-part.hbs" stepName="step4" config=config step=item.system.step4}}

                <label><b>{{localize "fantasycraft.step5"}}</b></label>
                {{> "systems/fantasycraft/templates/items/parts/path-step-customization-part.hbs" stepName="step5" config=config step=item.system.step5}}

            </div>
        </div>
    </section>
</form>
